/*ESTILIZANDO INTRO DO SITE */
.intro {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
    background: #000;
    animation: moveUp .5s linear 5s forwards;
}

@keyframes moveUp {
    to {
        transform: translateY(-100%);
    }
}

.logo-intro,
.txt-logo-intro {
    opacity: 0;
}

.logo-intro {
    position: absolute;
    width: 8rem;
    margin: auto;
    top: 40%;
    left: 45%;
    animation: fadeIntroUp 1.5s ease-out 1s forwards;
}

.txt-logo-intro {
    position: absolute;
    width: 50rem;
    top: 60%;
    left: 24%;
    animation: fadeIntroUp 2s ease-out 1.5s forwards;
}

@keyframes fadeIntroUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}