/* ETILIZANDO MENU DA BARRA LATERAL DOS PROJETOS*/
section div.projeto-content-menu {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #000;
    box-shadow: 1px 1px 1px .5px #00ff26;
    width: 20rem;
    height: 90vh;
    border-radius: 20px;
}

section nav.menu-projeto {
    padding: 1rem 0;
}

section nav.menu-projeto ul {
    padding: 1rem 0;
}

section nav.menu-projeto ul.list li {
    line-height: .80rem;
}

section nav.menu-projeto ul.list li button {
    display: flex;
    color: #fff;
    font-size: 1em;
    margin: 2% 2%;
    padding: 5px 2%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

section nav.menu-projeto ul li button:hover {
    color: #00ff26;
}

section nav.menu-projeto a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin: 1% 2%;
    padding: 2% 2%;
}

section nav.menu-projeto ul li button span:nth-child(2) {
    margin-left: 3rem;
    font-size: .85rem;
}

section nav.menu-projeto a:hover {
    color: #00ff26;
}



/*ESTILIZANDO SUBMENUS DOS PROJETOS*/
section nav.menu-projeto ul.sublist {
    display: none;
}
section nav.menu-projeto ul.sublist li {
    margin-left: 3rem;
    line-height: 8px;
}

section.projetos .flex {
    gap: 20px;
    align-items: center;
    justify-content: center;
}


#porjet-html-css-js {
    display: block;
}

#projeto-react{
    display: none;
}

#projeto-python{
    display: none;
}


/*  ESTILIZANDO O CONTEINER DOS PROJETOS*/
section div.content-projet-geral {
    width: 70vw;
    height: 90vh;
    background-color: #000;
}

/* ESTILIZANDO A SEÇÃO DOS PROJETOS HTML, CSS, JS*/
section div.projetos-content .title-container {
    display: flex;
    box-shadow: .9px .9px .9px .9px #00ff26;
    border-radius: 20px;
    padding: 1rem 0;
    text-align: center;
    justify-content: space-between;
}

section div.projetos-content .title-container h2.titulo-projetos {
    color: #fff;
    font-size: 2rem;
    margin: 0 2rem;
}

section div.projetos-content .title-container h2.titulo-projetos span {
    color: #00ff26;
}

section div.projetos-content .title-container img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 2rem;
}

/*ESTILIZANDO OS CARDS DOS PROJETER*/
section div.content-projetos-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    justify-content: center;
    justify-items: center;
    padding: 2rem 0;
    gap: 2rem;
}


section div.cads-projetos {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 20px 0;
}

section div.cads-projetos:last-child {
    padding-bottom: 2rem;
}

section div.cards-img-projet {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 20px 0 0 0;
   
}

section div.cards-img-projet img {
    width: 100%;
    height: auto;
    border-radius: 20px 0 0 0;
}

section div.txt-cards {
    padding: 1rem;
    width: 100%;
    height: auto;
}

section div.txt-cards h3 {
    width: 100%;
    font-size: 1.5rem;
    color: #00ff26;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

section div.txt-cards p {
    color: #fff;
    font-size: 1rem;
    margin: 5px 2px;
    text-align: justify;
}

section div.txt-cards p span {
    color: #00ff26;
    font-weight: bold;
}

section div.links-projetos {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
    background: #fff;
    border-radius: 0 0 20px;
}

section div.links-projetos img {
    width: 20px;
    height: 20px;
    margin: 2px;
}

section div.links-projetos img:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 2px 1px #00ff26);
}


section div.links-projetos a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    
}

section div.links-projetos a:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 2px 0px #00ff26);
}

