/*Estilizando o sesção skills do site*/
section.skills{
    width: 100vw;
    height: 100vh;
    padding: 8% 8%;
}

section.skills .flex{
    gap: 20px;
    align-items: center;
    justify-content: center;
}

section.skills .skills_box{
    background: #000;
    border: solid 0.5px #ffffff40;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(11, 113, 4, 0.164);
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    height: 20rem;
    align-items: center;
    transition: .5s;
}

section.skills .skills_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 4px #00ff26;
}

section.skills .skills_box h3{
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 5px;
}

section.skills .skills_box p{
    font-size: 1rem;
    color: #fff;
}