/* Meus agradecimento ao canal (The Purple Fox Design (https://youtu.be/JgikRw0c_Ao?si=6B5WZs6-1pbTOc49)) e (inteligiaDev - https://www.youtube.com/channel/UCGpMs9OyQdPYzAppR89BrWg/join) pelo compartilhamento da técnica de animação de logo */


/*Estilização padrão para todo o site*/
.flex{
    display: flex;
}

h2.titulo{
    font-size: 2rem;
    color: #fff;
    margin-top: 40px;
}

h2.titulo span{
    font-size: 2rem;
    color: #00ff26;
}

.btn_social{
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn_social button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 3rem;
    height: 25px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer; 
    transition: .2s linear;
}

.btn_social button i{
    font-size: 1rem;
    position: relative;
}

.btn_social button:hover{
    background: linear-gradient(45deg, #fbff00, #00ff26, #0414ca);
    box-shadow: 0 0 4px #00ff26;
    border: solid 1px #fff;
    transform: scale(1.2);
}

@keyframes animar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/*Estilizando o cabeçalho do site*/
header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
}

header nav.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 76px;
}

header div.interface::before, .interface::after{  
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% - 2%);
    height: calc(100% - 10%); 
    background: linear-gradient(50deg, #fbff00, #0d00ff, #fb00ff, #fff, #45015c, #09ff00, #6e0395);
    border-radius: 8px;  
    background-size: 300%;
    animation: animar_borda 5s linear  alternate infinite;
}

header div.interface::after{
    filter: blur(3px);
}

@keyframes animar_borda{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}
    
header div.logo{
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 4%;
    z-index: 2;
}

header div.logo::before{
    content: '';
    position: absolute;
    inset: -.10px 10px;
    background: linear-gradient(315deg, #fbff00, #fb00ff, #00ff26, #2b00ff);
    transition: .5s;
    animation: animar 5s linear infinite;
}

header div.logo:hover::before{
    inset: 0px;
}

header div.logo::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

header div.imagem_g{
    position: absolute;
    inset: 2px;
    border: 4px solid #000;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}

header div.imagem_g img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: none;
}

header div.logo:hover .imagem_g img{
    transform: scale(1.2);
}

header nav.menu a{
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
    display: inline-block;
    transition: .5s;
    margin-left: 50%;
    padding: 4px;
}

header nav.menu a::after{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 1px;
    background: linear-gradient(90deg, #fbff00, #00ff26, #00ff26, #0414ca);
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
    
}

header nav.menu a:hover::after{
    width: 100%;
}

header nav.menu a.active::after{
    width: 100%;
}

header nav.menu a:hover, header nav.menu a.active{
    color: rgb(12, 149, 5);
    transform: scale(1.2);  
}

header nav.menu ul{
    list-style: none;
}

header nav.menu ul li{
    display: inline-block;
    padding: 0 40px;
}




/*Estilizando o sesção menu_mobile*/
header div.menu_mobile{
    background: rgba(5, 183, 2, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(11, 8, 211, 0.527);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(22, 7, 133, 0.3);
    width: 0%;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

header div.btn_abrir{
    color: #00ff26;
    font-size: 30px;
    padding: 0px 10px;
    display: none;
    z-index: 11;
}

header div.btn_abrir i:hover{
    color: #fff;
    transform: scale(1.2);  
    cursor: pointer;
}

header div.btn_fechar i{
    color: #00ff26;
    font-size: 30px;
}

header div.btn_fechar i:hover{
    color: #fff;
    transform: scale(1.2);  
    cursor: pointer;
}

header div.btn_fechar{
    padding: 10px 10%;
    border-bottom: solid 1px #00ff26;
}

header div.menu_mobile nav ul{
    text-align: right;
    list-style: none;
}

header div.menu_mobile nav ul li a{
    color: #fff;
    display: block;
    padding: 10px 10%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

header div.menu_mobile nav ul li a:hover{
    border-radius: 10px;
    color: #000;
    transform: scale(1.1);
}

header div.menu_mobile.abrir-menu{
    width: 40%;
    transition: .5s;
}





/*Estilizando sesção topo do site*/
section.topo-site{
    width: 100vw;
    min-height: 100vh;
    padding: 20% 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
}

section div.txt-site{
    padding: 2px 4%;
    color: #fff;
}

section div.txt-site h1{
    font-size: 4rem;
}

section div.txt-site h2{
    font-size: 2rem;
    color: #fff;
}

section div.txt-site h2 span{
    position: relative;
}

section div.txt-site h2 span::before{
    content: '';
    color: rgb(12, 149, 5);
    animation: animar-texto 5s linear infinite;
}

section div.txt-site h2 span::after{
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    border-left: #00ff26 solid 2px;
    right: -10px;
    bottom: 0;
    background-color: #000;
    animation: animar-curso .5s linear infinite;
    animation: revelar-texto 50s steps(20) infinite;
}

@keyframes animar-curso{
    0%{
        border-left: #000 solid 2px;
    }
} 

@keyframes revelar-texto{
    10%, 15%,  30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 10px);
    }
    
}
    
@keyframes animar-texto{
    0%, 100%{
        content: "Desenvolvedor Web Front - End !";
    }
}

section div.txt-site p{
    font-size: 1rem;
    text-align: justify;
}

section div.txt-site span{
    font-size: 1.5rem;
    color: rgb(12, 149, 5);
    margin: 2% 0px;
    text-align: justify;
}

section div.img-topo-site img{
    padding: 0 4%;
    width: 15rem;
    height: 20rem;
}




/*Aplicando scroll Reveal no topo do site*/
.scrol-txt-topo, .scrol-img-topo, .titulo, .scrol-skill1, .scrol-skill2, .scrol-skill3, .scrol-img-sobre, .scrol-txt-sobre, .scrol-img-projetos1, .scrol-img-projetos2, .scrol-img-projetos3{
    visibility: hidden;
}




/*Estilizando o sesção sobre do site*/
section.sobre{
    width: 100vw;
    height: 100vh;
    padding: 8% 8%;
    box-shadow: 0 0 10px 0px #00ff26;
}

section.sobre .flex{
    gap: 40px;
    align-items: center;
}

section div img{
    width: 15rem;
    height: 20rem;
    border-radius: 10%;
}

section div.txt_sobre{
    color: #fff;
    padding: 10% 4%;
}

section div.txt_sobre h3{
    font-size: 1.5rem;
    line-height: 20px;
    margin: 30px 0px;
}

section div.txt_sobre p{
    font-size: 1rem;
    text-align: justify;
}

section div.txt_sobre span{
    font-size: 1.2rem;
    color: rgb(12, 149, 5);
}




/*Estilizando o sesção skills do site*/
section.skills{
    width: 100vw;
    height: 100vh;
    padding: 8% 8%;
}

section.skills .flex{
    gap: 20px;
    align-items: center;
    justify-content: center;
}

section.skills .skills_box{
    background: #000;
    border: solid 0.5px #ffffff40;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(11, 113, 4, 0.164);
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    height: 20rem;
    align-items: center;
    transition: .5s;
}

section.skills .skills_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 4px #00ff26;
}

section.skills .skills_box h3{
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 5px;
}

section.skills .skills_box p{
    font-size: 1rem;
    color: #fff;
}




/*Estilizando o sesção projetos do site*/
section.projetos{
    width: 100vw;
    height: 100vh;
    padding: 8% 8%;
    box-shadow: 0 0 10px 0px #00ff26;
}

section.projetos .flex{
    gap: 40px;
    align-items: center;
    justify-content: center;
}

section div.img-projetos{
    position: relative;
    width: 20rem;
    height: 25rem;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
}

section div.img-projetos:hover{
    background-position: 100% 100%;
}

section div.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 25rem;
    background-color: #00ff2656;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #00ff26;
    opacity: 0;
    transition: .5s;
}

section div.img-projetos:hover .overlay{
    opacity: 1; 
}




/*Estilizando o sesção contato do site*/
section.form_contato{
    width: 100vw;
    height: 100vh;
    padding: 8% 8%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form input, form textarea{
    width: 50vw;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
    outline: none;
    align-items: center;
    justify-content: center;
}

form div.btn_enviar{
    padding-top: 20px;
    font-weight: bold;
}

form div.btn_enviar input{
    background: rgb(12, 149, 5);
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}
   
form div.btn_enviar input:hover{
    box-shadow: 0 0 2px #00ff26;
    border: solid 1px #fff;
    transform: scale(1.1);
}



/*Estilizando o rodapé do site*/
footer{
    width: 100vw;
    height: 20vh;
    padding: 8% 4%;
    box-shadow: 0 0 10px 0px #00ff26;
}
footer .flex{
    justify-content: space-between;
}

footer div.linha{
    border-bottom: solid 1px #00ff26;
}



/*aplicando responsividade*/
@media screen and (max-width: 905px){

    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 25px;
        padding: 0px 10px;
    }

    .btn_social button{
        width: 40px;
        height: 35px;
        font-size: 10px;
    }




    /*Aplicando responsividade para o cabeçalho do site*/
    .menu ul{
        display: none;
    }

    header div.btn_abrir{
        display: block;
    }





    /*Aplicando responsividade para a sesção topo do site*/
    section.topo-site{
        padding: 20% 10%; 
    }
    section div.img-topo-site img{
        width: 100%;
        height: 100%;
        padding-top: 4%;
    }

    section div.txt-site h1{
        font-size: 45px;
    }

    section div.txt-site h2{
        font-size: 18px;
    }
    
    section div.txt-site p{
        font-size: 14px;
    }




    /*Aplicando responsividade para a sesção sobre do site*/
    section.sobre{
        padding: 20px 10%;
    }

    section div img{        
        width: 100px;
        height: 100px;
    }
    section div.txt_sobre h3{
        font-size: 20px;
    }
    
    section div.txt_sobre p{
        font-size: 14px
    }




    /*Aplicando responsividade para a caixa de skills do site*/
    section.skills{
        padding: 10px 8%;
    }

    section.skills .skills_box{
        width: 100%;
        height: 5rem;
        margin: 20px 0px;
    }




    /*Aplicando responsividade para a sesção projetos do site*/
    section.projetos{
        padding: 20px 10%;
    }
    
    section div.img-projetos{
        width: 100%;
        height: 15rem;
        margin: 20px 0px;
        transition: 4s;
    }




    /*Aplicando responsividade para a sesção contato do site*/
    section.form_contato{
        padding: 20% 10%;
    }




    /*Aplicando responsividade para o rodapé do site*/
    footer{
        padding: 2% 5%;
    }
    
    footer div.rodape{
        padding: 20px 0px;
    }

    footer div.linha{
        border: solid 1px #00ff26;
    }

    footer div.btn_social{
        padding-left: 30%;
    }

}/*fechamento da responsividade para o site */